{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}Mahsulot List{% endblock %}
{% block page_header %}Mahsulot List{% endblock %}

{% block content %}
<div class="container center-content">
    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'product_create' %}" class="btn btn-success">➕ Yangi bo‘lim qo‘shish</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="title">Sarlavha</th>
                <th class="description">Subtitr</th>
                <th class="description">Tavsif</th>
                <th class="description">Qo'llanmasi</th>
                <th class="description">Tarkibi</th>
                <th class="image">Rasm</th>
                <th class="category">Kategoriya</th>
                <th class="image">Badge</th>
                <th class="image">Specs</th>
                <th class="price">Narxi</th>
                <th class="country">Mamlakat</th>
                <th class="certificate">Sertifikat</th>
                <th class="actions">Amallar</th>
            </tr>
            </thead>
            <tbody>
            {% for txt in products %}
            <tr>
                <td class="title">{{ txt.title }}</td>
                <td class="title">{{ txt.subtitle |truncatechars:30}}</td>
                <td class="title">{{ txt.description |truncatechars:30}}</td>
                <td class="title">{{ txt.usage |truncatechars:30}}</td>
                <td class="title">{{ txt.composition |truncatechars:30}}</td>
                <td class="image">
                    {% if txt.image %}
                    <img src="{{ txt.image.url }}" alt="Rasm"/>
                    {% else %}
                    Yo‘q
                    {% endif %}
                </td>
                <td class="title">{{ txt.category }}</td>
                <td class="title">{{ txt.badge }}</td>
                <td class="title">{{ txt.specs |truncatechars:60}}</td>
                <td class="slug">{{ txt.price }}</td>
                <td class="description">{{ txt.country }}</td>
                <td class="description">{{ txt.certificates }}</td>
                <td class="actions">
                    <a href="{% url 'product_edit' txt.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'product_delete' txt.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ma’lumot topilmadi.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
