{% extends 'dashboard_en/base.html' %}
{% load humanize %}

{% block title %}Contact List{% endblock %}
{% block page_header %}Contact List{% endblock %}

{% block content %}
<div class="container center-content">
    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'en-admin:contact_create1' %}" class="btn btn-success">➕ Yangi bo‘lim qo‘shish</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="title">Address</th>
                <th class="phone_number">Telefon raqam</th>
                <th class="email">E-mail</th>
                <th class="actions">Amallar</th>
            </tr>
            </thead>
            <tbody>
            {% for txt in contacts %}
            <tr>
                <td class="addresss">{{ txt.address|truncatechars:60 }}</td>
                <td class="phone_number">{{ txt.phone_number}}</td>
                <td class="email">{{ txt.email}}</td>
                <td class="actions">
                    <a href="{% url 'en-admin:contact_edit1' txt.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'en-admin:contact_delete1' txt.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ma’lumot topilmadi.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
