{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container" style="max-width: 600px; margin: auto;">
    <h2 style="text-align:center;">✏️ Foydalanuvchini tahrirlash</h2>
    <form method="post" enctype="multipart/form-data" class="edit-form" style="margin-top: 2rem;">
        {% csrf_token %}
        {% for field in form %}
        <div style="margin-bottom: 1rem;">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div style="display: flex; justify-content: space-between;">
            <a href="{% url 'user_list' %}" class="btn-back">⬅ Ortga</a>
            <button type="submit" class="btn-edit">💾 Saqlash</button>
        </div>
    </form>
</div>
{% endblock %}
