{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}Product Feature List{% endblock %}
{% block page_header %}Product List{% endblock %}

{% block content %}
<div class="container center-content">
    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'product_feature_create' %}" class="btn btn-success">➕ Yangi bo‘lim qo‘shish</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="title">Sarlavha</th>
                <th class="description">Tavsif</th>
                <th class="icon">Ikonka</th>
                <th class="actions">Amallar</th>
            </tr>
            </thead>
            <tbody>
            {% for txt in features %}
            <tr>
                <td class="title">{{ txt.title }}</td>
                <td class="description">{{ txt.context|truncatechars:60 }}</td>
                <td class="description">{{ txt.icon }}</td>
                <td class="actions">
                    <a href="{% url 'product_feature_edit' txt.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'product_feature_delete' txt.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ma’lumot topilmadi.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
