<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'dashboard/css/list.css' %}"/>
    <link rel="stylesheet" href="{% static 'dashboard/css/form.css' %}"/>
    {% block extra_css %}{% endblock %}
    <script defer src="{% static 'dashboard/js/script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
<div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">AdminPanel</h2>
        <nav class="nav">
            <a href="{% url 'uz-admin:home' %}" class="nav-link">Dashboard</a>
            <a href="{% url 'uz-admin:rasm_tur_list' %}" class="nav-link">Galereya turlari</a>
            <a href="{% url 'uz-admin:mah_kat_list' %}" class="nav-link">Mahsulot turlari</a>
            <a href="{% url 'uz-admin:kateg_list' %}" class="nav-link">Yangiliklar kategoriyasi</a>
            <a href="{% url 'uz-admin:xizmatlar_list' %}" class="nav-link">Xizmatlarimiz</a>
            <a href="{% url 'uz-admin:missiya_list' %}" class="nav-link">Biz haqimizda</a>
            <a href="{% url 'uz-admin:yangi_list' %}" class="nav-link">Yangiliklar</a>
            <a href="{% url 'uz-admin:mahsulot_list' %}" class="nav-link">Mahsulotlar</a>
            <a href="{% url 'uz-admin:umumiy_list' %}" class="nav-link">Ishlab chiqarish</a>
            <a href="{% url 'uz-admin:statistika_list' %}" class="nav-link">Ishlab chiqarish statistika</a>
            <a href="{% url 'uz-admin:qator_list' %}" class="nav-link">Mahsulot liniyalari</a>
            <a href="{% url 'uz-admin:hamkor_list' %}" class="nav-link">Hamkorlar</a>
            <a href="{% url 'uz-admin:afzallik_list' %}" class="nav-link">Hamkorlik afzalliklari</a>
            <a href="{% url 'uz-admin:galereya_list' %}" class="nav-link">Galereya</a>
            <a href="{% url 'uz-admin:xusus_list' %}" class="nav-link">Xususiyatlar</a>
            <a href="{% url 'uz-admin:mahsulot_xusus_list' %}" class="nav-link">Mahsulot xususiyatlari</a>
            <a href="{% url 'uz-admin:kontaktlar_list' %}" class="nav-link">Bog‘lanish</a>
            <a href="{% url 'uz-admin:tarmoqlar_list' %}" class="nav-link">Ijtimoiy tarmoqlar</a>
            <a href="{% url 'uz-admin:missiya_punkt_list' %}" class="nav-link">Missiya punktlari</a>
            <a href="{% url 'uz-admin:statlar_list' %}" class="nav-link">Statistikalar</a>
            <a href="{% url 'uz-admin:qadriyatlar_list' %}" class="nav-link">Qadriyatlar</a>
            <a href="{% url 'uz-admin:yutuqlar_list' %}" class="nav-link">Yutuqlar</a>
            <a href="{% url 'uz-admin:azolar_list' %}" class="nav-link">Jamoa a’zolari</a>
            <a href="{% url 'uz-admin:tarix_list' %}" class="nav-link">Tarix</a>
        </nav>

    </aside>

    <!-- Main Content -->
    <main class="main-content">
        <!-- Header ichida -->
        <header class="header">
            <h1>{% block page_header %}Boshqaruv paneli{% endblock %}</h1>
            <div class="header-right">

                {% if show_userbar %}
                <button class="toggle-theme" id="theme-toggle">🌙</button>
                <div class="userbar" id="userbar">
                    <img src="https://i.pravatar.cc/32" alt="User Avatar" class="avatar"/>
                    <span class="username">{{ request.user }}</span>
                    <div class="dropdown" id="user-dropdown">
                        <ul class="dropdown-menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="{% url 'uz:logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>

        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>