{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}Galeriya List{% endblock %}
{% block page_header %}Galeriya List{% endblock %}

{% block content %}
<div class="container center-content">
    <div style="text-align: right; margin-bottom: 1rem;">
        <a href="{% url 'gallery_create' %}" class="btn btn-success">➕ Yangi bo‘lim qo‘shish</a>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="title">Sarlavha</th>
                <th class="category">Kategoriya</th>
                <th class="description">Tavsif</th>
                <th class="image">Rasm</th>
                <th class="created">Yaratilgan</th>
                <th class="actions">Amallar</th>
            </tr>
            </thead>
            <tbody>
            {% for txt in items %}
            <tr>
                <td class="title">{{ txt.title }}</td>
                <td class="category">{{ txt.category }}</td>
                <td class="description">{{ txt.description|truncatechars:60 }}</td>
                <td class="image">
                    {% if txt.image %}
                    <img src="{{ txt.image.url }}" alt="Rasm"/>
                    {% else %}
                    Yo‘q
                    {% endif %}
                </td>
                <td class="created">{{ txt.created_at|date:"Y-m-d H:i" }}</td>

                <td class="actions">
                    <a href="{% url 'gallery_edit' txt.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'gallery_delete' txt.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Ma’lumot topilmadi.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
